SUPABASE_URL=https://phqiejtztwhychazikim.supabase.co
SUPABASE_SERVICE_KEY=여기에_서비스키_입력
TERRAFORM_EXE=C:\Users\qjatl\AppData\Local\Microsoft\WinGet\Packages\Hashicorp.Terraform_Microsoft.Winget.Source_8wekyb3d8bbwe\terraform.exe
POLL_INTERVAL=15000
